@font-face {
    font-family: Aldrich;
    src: url("/static/assets/Aldrich-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    font-family: Aldrich;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

section {
    scroll-behavior: smooth;
}

section:before {
    height: 56px;
    content: "";
    display:block;
}

ul {
  text-align: center;
  list-style: inside;
}

#topnav {
    height: 56px;
    background-image: url("/static/assets/banner.png");
    background-size: cover;
    text-align: right;
}

#logo {
    height: 40px;
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#titlepage {
    background-image: url("/static/assets/square-header-blurred.jpg");
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

#title {
    padding-top: 150px;
}

@media only screen and (min-width: 600px) {
    #title h1 {
        font-size: 96px;
    }

    #title h1 img {
        position: relative;
        margin-top: -18px;
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 600px) {
    #title h1 {
        font-size: 15vw;
    }

    #title h1 img {
        position: relative;
        margin-top: calc(15vw * -18 / 96);
        width: calc(15vw * 75 / 96);
        height: calc(15vw * 75 / 96);
    }
}

#start-date {
    padding-top: 150px;
    padding-bottom: 50px;
}

#start-date div {
    display: flex;
    align-items: center;
}

#countdown-text {
    margin-top: -20px;
    padding-right: 20px;
}

.slide {
    color: #FFF;
    border: 2px solid #03C04A;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #03C04A;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide:hover {
    box-shadow: inset 0 0 0 75px #03C04A;
}

#about {
    padding-top: 20px;
}

#about h4 {
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#about div {
    background-image: url("../../static/assets/abstract-pattern.jpg");
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#info {
    padding-top: 56px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
}

.panel {
    margin: 20px;
}

.accordion-toggle {
    color: white;
}

.accordion-toggle:hover {
    color: lightgreen;
    text-decoration: none;
}

a[aria-expanded=true] .fa-minus-square {
    display: none
}

a[aria-expanded=false] .fa-plus-square {
    display: none
}

.fa-3x {
    position: relative;
    top: 8px;
}

#schedule:not(#schedule-table) {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#schedule-date {
    display: inline-block;
    width: 250px;
}

#schedule-header:first-child {
    cursor: pointer;
    color: #dcdcdc;
    font-size: 2rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 100;
    transition-duration: .1s
}

#schedule-header:first-child:hover {
    color: gray
}

#schedule-header:last-child {
    cursor: pointer;
    color: #dcdcdc;
    font-size: 2rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 100;
    transition-duration: .1s
}

#schedule-header:last-child:hover {
    color: gray
}

#schedule-table {
    border-radius: 8px;
    -moz-border-radius: 8px;
    overflow: hidden;
    width: 100%;
    background-color: black;
    position: relative;
    padding-top: 60px;
    table-layout: fixed;
    box-shadow: 10px 10px 10px 8px black;
}

th,
td {
    font-weight: unset;
}

th {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    font-size: 1.4rem;
    color: black;
    line-height: 1.4;
    background-color: #90ee90;
}

td {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.2rem;
    color: floralwhite;
    line-height: 1.4;
}

tr {
    transition: all 0.5s ease-out;
    background-color: #101010;
    color: gainsboro;
}

tr:hover {
    background-color: #1D221E;
    transform: scale(1 .05);
}

thead {
    width: 100%;
    top: 0;
    left: 0;
}

tbody {
    cursor: pointer
}

#team h4 {
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#team #dotbg {
    background-image: url("../../static/assets/OLED-iPhone-11-Pro-green-wallpaper-iDownloadBlog-green-vortex.png");
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 60%;
    background-repeat: no-repeat;
}

#team div figure img {
    border: 5px solid #13FF7D;
}

.cropped {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50%, 50%;
}

#sponsors, #social-media {
    padding: 20px;
}

#social-media h4 {
    padding-left: 30px;
    padding-right: 30px;
}

.logo:hover {
    animation: pulse;
    animation-duration: 2s;
}

#social-media div div div a {
    box-sizing: border-box;
    color: #03C04A;
}

#social-media div div div a i:hover {
    animation: pulse;
    animation-duration: 2s;
}

.flip-clock {
    text-align: center;
    perspective: 600px;
}

.flip-clock *, .flip-clock *:before, .flip-clock *:after {
    box-sizing: border-box;
}

.flip-clock__piece {
    display: inline-block;
    margin: 0 0.2vw;
}

@media (min-width: 1000px) {
    .flip-clock__piece {
        margin: 0 5px;
    }
}

.flip-clock__slot {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}

.flip-card {
    display: inline-block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 2.25rem;
    line-height: 0.95;
}

@media (min-width: 1000px) {
    .flip-clock__slot {
        font-size: 1.2rem;
    }

    .flip-card {
        font-size: 3rem;
    }
}

.flip-card__top, .flip-card__bottom, .flip-card__back-bottom, .flip-card__back::before, .flip-card__back::after {
    display: block;
    height: 0.72em;
    color: #ccc;
    background: #222;
    padding: 0.23em 0.25em 0.4em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visiblity: hidden;
    transform-style: preserve-3d;
    width: 1.8em;
}

.flip-card__bottom, .flip-card__back-bottom {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #000;
    background: #393939;
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
}

.flip-card__back-bottom {
    z-index: 1;
}

.flip-card__bottom::after, .flip-card__back-bottom::after {
    display: block;
    margin-top: -0.72em;
}

.flip-card__back::before, .flip-card__bottom::after, .flip-card__back-bottom::after {
    content: attr(data-value);
}

.flip-card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.flip-card__back::before {
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.flip .flip-card__back::before {
    z-index: 1;
    animation: flipTop 0.3s cubic-bezier(.37, .01, .94, .35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

.flip .flip-card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(.15, .45, .28, 1);
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%, 99% {
        opacity: 1;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipBottom {
    0%, 50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
        z-index: 5;
    }
}

#input {
    width: 8em;
    max-width: 80%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 3em;
    text-align: center;
    z-index: 999;
    opacity: .25;
    transition: opacity .3s;
}
