{% extends "layout.html" %}

{% block title %}
    <title>Project Reboot Challenges</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <section id="main-challenge" class="mainbg container-fluid">
        <h1>The Main Challenge:</h1>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2><strong>The Goal:</strong></h2>
                <h4>Our main challenge is to <strong>"reboot"</strong> learning.
                    <br><br>
                    Participants will work in teams to
                    build a prototype of an app, game, web site or device that tackles issues people may face with remote
                    learning. Using design thinking, students learn how to develop new ideas and design technology that will
                    improve life and productivity for the many people learning and working remotely during the pandemic.
                </h4>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../static/assets/light-bulb.jpeg" alt="Light Bulb" class="black-frame"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation" class="black-frame"/>
            </div>
            <div class="col-md-6">
                <h2><strong>The Submission:</strong></h2>
                <h4>What should your team include in a submission<br><br>Teams must develop a tool or product they can present
                    and demo to judges using some comprehensize presentation. Here are the questions that you must consider:
                </h4>
                <div class="row justify-content-center">
                    <h5>
                        <br>
                        <ul>
                            <li>What specific challenge is the submission tackling? In other words, what is your product
                                supposed to
                                do?
                            </li>
                            <br>
                            <li>Who is specifically helped by this?</li>
                            <br>
                            <li>How does that it work, and what technology is leveraged to accomplish your goal?</li>
                            <br>
                            <li>What are the next steps for this tool?</li>
                        </ul>
                    </h5>
                </div>
            </div>
        </div>
        <div></div>
    </section>
    <section id="beginner-challenge" style="background: #101010" class="container-fluid px-0">
        <h1>The Beginner Challenge:</h1>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2><strong>The Goal:</strong></h2>
                <h4>The goal of this challenge is for participants to go from <strong>zero</strong> to
                    <strong>hero.</strong><br><br>If you don't have any coding experience, don't fear! The goal of this
                    challenge is to attend <em>all</em> of our workshops on the Saturday of the hackathon. Applying everything
                    you learned, create something with your new-found skills and knowledge. Keep track of everything you have
                    learned, and showcase it to judges in a slideshow. You are still invited to try to tackle the main
                    challenge, but the stakes are lower. This challenge is meant for participants with <em>zero coding
                        experience.</em> Every member of your team must meet these qualifications.
                </h4>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../static/assets/code.jpeg" alt="Code" class="green-frame"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../static/assets/cartoon-computer.png" alt="Computer" class="green-frame"/>
            </div>
            <div class="col-md-6">
                <h2><strong>The Submission:</strong></h2>
                <h4>What should your team include in a submission<br><br>Teams must keep track of everything they learn in
                    workshops, or on their own during the duration of the hackathon. These concepts must be applied to create
                    some tool or idea to present to judges in a comprehensive presentation. Questions team must consider:
                </h4>
                <div class="row justify-content-center">
                    <h5>
                        <br>
                        <ul>
                            <li>What was the most interesting thing you learned today?</li>
                            <br>
                            <li>How did you apply this knowledge?</li>
                            <br>
                            <li>What are the next steps for your team in your coding journey? What do you want to learn next?
                            </li>
                        </ul>
                    </h5>
                </div>
            </div>
        </div>
{#        <div id="stripebg"></div>#}
    </section>

    <section id="innovation-challenge" class="container-fluid px-0 mainbg">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Innovation Challenge</h1>
                <h4>Best Idea</h4>
            </div>
            <div class="col-md-6">
                <h1>Echo AR Award</h1>
                <h4>Build the best AR/VR application using the echoAR platform!</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>People's Choice</h1>
                <h4>Project with the most votes from participants</h4>
            </div>
        </div>
        <br>
        <br>
    </section>

{% endblock %}

{% block scripts %}

{% endblock %}