{% extends "layout.html" %}

{% block title %}
    <title>Project Reboot Challenges</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <section id="main-challenge" class="mainbg container-fluid">
        <h1>The Main Challenge:</h1>
        <br>
        <h2><strong>The Goal:</strong></h2>
        <h4>Our main challenge is to <strong>"reboot"</strong> learning.
            <br><br>
            Participants will work in teams to
            build a prototype of an app, game, web site or device that tackles issues people may face with remote
            learning. Using design thinking, students learn how to develop new ideas and design technology that will
            improve life and productivity for the many people learning and working remotely during the pandemic.
        </h4>
        <br>
        <h2><strong>The Submission:</strong></h2>
        <h4>What should your team include in a submission<br><br>Teams must develop a tool or product they can present
            and demo to judges using some comprehensize presentation. Here are the questions that you must consider:
        </h4>
        <div class="row justify-content-center">
            <h5>
                <br>
                <ul>
                    <li>What specific challenge is the submission tackling? In other words, what is your product
                        supposed to
                        do?
                    </li>
                    <br>
                    <li>Who is specifically helped by this?</li>
                    <br>
                    <li>How does that it work, and what technology is leveraged to accomplish your goal?</li>
                    <br>
                    <li>What are the next steps for this tool?</li>
                </ul>
            </h5>
        </div>
        <br>
        <h2><strong>The Prizes:</strong></h2>
        <h4><em>Prize details coming soon!</em></h4>
        <div></div>
    </section>
    <section id="beginner-challenge" style="background: #1d221e" class="container-fluid px-0">
        <h1>The Beginner Challenge:</h1>
        <br>
        <h2><strong>The Goal:</strong></h2>
        <h4>The goal of this challenge is for participants to go from <strong>zero</strong> to
            <strong>hero.</strong><br><br>If you don't have any coding experience, don't fear! The goal of this
            challenge is to attend <em>all</em> of our workshops on the Saturday of the hackathon. Applying everything
            you learned, create something with your new-found skills and knowledge. Keep track of everything you have
            learned, and showcase it to judges in a slideshow. You are still invited to try to tackle the main
            challenge, but the stakes are lower. This challenge is meant for participants with <em>zero coding
                experience.</em> Every member of your team must meet this qualifications.

        </h4>
        <h2><strong>The Submission:</strong></h2>
        <h4>What should your team include in a submission<br><br>Teams must keep track of everything they learn in
            workshops, or on their own during the duration of the hackathon. These concepts must be applied to create
            some tool or idea to present to judges in a comprehensive presentation. Questions team must consider:
        </h4>

        <div class="row justify-content-center">
            <h5>
                <br>
                <ul>
                    <li>What was the most interesting thing you learned today?</li>
                    <br>
                    <li>How did you apply this knowledge?</li>
                    <br>
                    <li>What are the next steps for your team in your coding journey? What do you want to learn next?
                    </li>
                </ul>
            </h5>
        </div>
        <br>
        <h2><strong>The Prizes:</strong></h2>
        <a class="nav-item nav-link" href="/#prizes">Prizes</a>
        <div></div>
    </section>


    <section id="innovation-challenge" class="container-fluid px-0" style="background: #101010">
        <h1>The Innovation Challenge:</h1>
        <h4>More details coming soon...!</h4>
    </section>


{% endblock %}

{% block scripts %}

{% endblock %}