{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}    
	<div id="para" class="container-fluid"></div>
	<input type="text" id="input" placeholder="type whatever" title="type and press enter" />
{% endblock %}
{% block scripts %}
    <script src="https://cdn.rawgit.com/vuejs/vue/v1.0.24/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
