{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<section id="titlepage" class="container-fluid">
    <div id="title">
        <h1 class="animate__animated animate__rotateInDownLeft"><strong>PR</strong><a href="/easter-egg"><img alt="O"
                    src="static/assets/loading.gif"></a><strong>JECT</strong></h1>
        <h1 class="animate__animated animate__rotateInUpRight"><strong>REBOOT</strong></h1>
    </div>
    <br>
    <h1>Reboot Learning...</h1>

    <h3 id="start-date">
        March 26 - 27, 2021
        <br /><br />
        <div class="row justify-content-center">
            <span id="countdown-text">Registration closes in:</span>
            <span id="countdown"></span>
        </div>
    </h3>
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3">
            <a class="slide btn btn-block btn-outline-success"
                href="https://join.slack.com/t/reboothacks/shared_invite/zt-ls5bp1ab-CJ8ScGdOYQfOSUm5QPwVBA"
                target="_blank" rel="noopener noreferrer">Join Slack</a>
        </div>
        <div class="col-sm-4 col-md-3">
            <a class="slide btn btn-block btn-outline-success" href="/challenge">Challenge</a>
        </div>
        <div class="col-sm-4 col-md-3">
            <a class="slide btn btn-block btn-outline-success typeform-share"
                href="https://form.typeform.com/to/TlzStQ5X?typeform-medium=embed-snippet" data-mode="drawer_right"
                target="_blank">Sign Up</a>
            <script> (function () {
                    var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement,
                        gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
                    if (!gi.call(d, id)) {
                        js = ce.call(d, "script");
                        js.id = id;
                        js.src = b + "embed.js";
                        q = gt.call(d, "script")[0];
                        q.parentNode.insertBefore(js, q)
                    }
                })() </script>
        </div>
    </div>
</section>
<section id="about" style="background: #1d221e" class="container-fluid px-0">
    <h1>About</h1>
    <h4>We are the Wayland High School Computer Science Club, and we are
        running Project Reboot, a 2021 virtual hackathon designed for high school
        students. Our goal is to show that coding is fun for everyone, regardless of
        skill level, through creating hackathons to help those in need.<br>
        For example, <a href="https://hackawayforgood.org" target="_blank" rel="noopener noreferrer">last year's
            hackathon</a> brought Wayland and many towns in the Greater Boston Area together
        by developing tools and applications to help blind users.
        This year, we want to unite even more students
        together by working to improve the quality of remote learning, but we
        need your help to make this possible.</h4>
    <div></div>
</section>
<section id="info" class="row" style="background: #101010">
    <div class="col-md-6">
        <div class="panel-group" id="accordion">
            <h2>FAQ</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                            aria-expanded="false" aria-controls="collapseExample" href="#collapseOne">
                            <i class="fas fa-minus-square"></i> <i class="fas fa-plus-square"></i> What is Project
                            Reboot?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        It's a one-day hackathon for all high school students.
                        Students will work in teams to build a prototype of an app, game, web site or device that
                        tackles
                        issues people may face with remote learning.
                        Using design thinking, students learn how to develop new ideas and design technology
                        that will improve life and productivity for the many people learning and working remotely
                        during
                        the pandemic.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            aria-expanded="false" aria-controls="collapseExample" href="#collapseTen">
                            <i class="fas fa-minus-square"></i> <i class="fas fa-plus-square"></i> Who can
                            participate?
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Any high school student in grades 9-12 who's interested in coding,
                        digital media, exploring AI and other technologies, helping a billion people, or
                        entrepreneurship can attend.
                        If you've graduated from high school, you can apply to be a mentor.
                        If you're in middle school, feel free to join in, but please contact us for more
                        information.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseEleven" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-minus-square"></i> <i class="fas fa-plus-square"></i> More questions
                            coming
                            soon!
                        </a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        More answers coming soon!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="schedule" class="col-md-6">
        <h2>Schedule</h2>
        <div id="schedule-header">
            <i class="fas fa-caret-left fa-3x" onclick="prevDay()"></i>
            <h3 id="schedule-date">Friday 3/26</h3>
            <i class="fas fa-caret-right fa-3x" onclick="nextDay()"></i>
        </div>

        <table id="schedule-table">
            <colgroup>
                <col style="width: 25%;">
                <col style="width: 75%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6:00 PM</td>
                    <td>Opening ceromony starts</td>
                </tr>
                <tr>
                    <td>6:15 PM</td>
                    <td>Challenge Introductions</td>
                </tr>
                <tr>
                    <td>6:45 PM</td>
                    <td>Finding a team, slack tutorial</td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>Intro speaker</td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Keynote speaker</td>
                </tr>
                <tr>
                    <td>8:30 PM</td>
                    <td>Preview the next day</td>
                </tr>
                <tr>
                    <td>9:00 PM</td>
                    <td>Hacking begins!</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="team" style="background: #1d221e" class="container-fluid px-0">
    <h1>Team</h1>
    <h4>andrew booyer</h4>
    <h4>kevan zoha</h4>
    <h4>eric z</h4>
    
    <div></div>
</section>

<section id="sponsors" style="background: #1d221e">
    <h2>Sponsors</h2>
    <h5>Interested in sponsoring us? Check out our <a
            href="https://drive.google.com/file/d/1M489fAXqMQimNTHrGeMjOgeykByHI0O6/view" target="_blank"
            rel="noopener noreferrer">prospectus</a> and shoot us an <a
            href="mailto:waylandcomputersci@gmail.com">email</a>!</h5>
    <br>
    <h3 style="color:lightseagreen">Platinum</h3>
    <br>
    <div class="row justify-content-center">

    </div>
    <br>
    <h3 style="color: gold">Gold</h3>
    <br>
    <div class="row justify-content-center">
        <!--             <div class="col-md-2">
                <a href="https://wolfram.com" target="_blank" rel="noopener noreferrer">
                    <img class="logo" border="0" alt="Wolfram" src="static/assets/wolfram.png"
                         width="250"
                         height="100">
                </a>
            </div> -->
        <a href="https://wolfram.com" target="_blank" rel="noopener noreferrer">
            <img class="logo" border="0" alt="Wolfram" src="static/assets/wolfram.png" width="250" height="100">
        </a>

    </div>

    <br>
    <h3 style="color: silver;">Silver</h3>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="https://deluxethinkers.wixsite.com/deluxe" target="_blank" rel="noopener noreferrer">
                <img class="logo" border="0" alt="Deluxe Thinkers" src="static/assets/Deluxe-Thinkers-Logo.png"
                    width="100" height="100">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.cybersummercamp.org" target="_blank" rel="noopener noreferrer">
                <img class="logo" border="0" alt="Cyber Summer Camp" src="static/assets/cybersummercamp.png" width="100"
                    height="100">
            </a>
        </div>

    </div>


    <!-- add wolfram alpha -->
    </div>

    <br /><br />
    <a href="https://hackclub.com/bank/" target="_blank" rel="noopener noreferrer">
        <img class="logo" border="0" alt="Powered by Hack Club Bank" src="static/assets/bank.png" width="400"
            height="100">
    </a>
</section>

<!--
    Commands:
    #clear
    #explode
    #queue
    #countdown
    #galaxy
    #ring
    -->


<section id="social-media" style="padding: 5vh 0vw 5vh 0vw; background: #101010">
    <div class="container-fluid">
        <h4>Follow our social media!</h4>
        <div class="row justify-content-center">
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://www.youtube.com/channel/UCwZ5Ip1wCb8yC9sfNnCtsZw" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube fa-3x"></i>
                </a>
            </div>
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://www.instagram.com/waylandcomputer/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram fa-3x"></i>
                </a>
            </div>
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://www.facebook.com/groups/236451944678953" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook fa-3x"></i>
                </a>
            </div>
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://github.com/Wayland-CS-Club" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>

</section>
<section id="about" style="padding: 1vh 1vw 1vh 1vw; background: #060606">
    <p id="copyright" style="color: #797D7F">
        Copyright © 2021 RebootHacks, a 501(c)(3) non-profit organization,
        fiscally sponsored by Hack Club Bank
        <br>
    </p>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.rawgit.com/vuejs/vue/v1.0.24/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}