{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}

    <section id="titlepage" class="container-fluid">
        <h1 id="title"><strong>PR</strong><img alt="O" src="static/assets/loading.gif" width="50" height="50"><strong>JECT
            REBOOT</strong></h1>
        <br>
        <h1>Reboot Learning...</h1>

        <h3 id="start-date">
            March 26 - 27, 2021
            <br>
            <span id="time"></span>
        </h3>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <form method="get" action="/test">
                    <button type="button" class="btn btn-success btn-block">Join Slack</button>
                </form>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block">Mystery Button</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info btn-block">Test 3...</button>
            </div>
        </div>
    </section>
    <section id="about">
        <h1>About</h1>
        <h4>We are Project Reboot, the 2021 hackathon run by the Wayland High School Computer Science Club.
            Our goal is to show that coding is fun for all people, regardless of skill level,
            through creating Hackathons that help those in need.
            For example, last year's Hackathon brought Wayland and many towns in the Greater Boston Area together
            by developing tools and applications to help blind users.
            This year, we want to bring the region's towns together once again
            by working together to improve the quality of remote learning.</h4>
        <div></div>
    </section>
    <section id="info" class="row">
        <div class="col-md-6">
            <div class="panel-group" id="accordion">
                <h2>FAQ</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">What is Project Reboot?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            It's a one-day hackathon for all high school students in the Greater Boston area.
                            Students work in teams to build a prototype of an app, game, web site or device that tackles
                            accessibility issues.
                            Using design thinking, students learn how to develop new ideas and design technology
                            that can make life better for people with disabilities.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTen">Who can participate?</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Any high school student in grades 9-12 who's interested in coding,
                            digital media, exploring AI and other technologies, helping a billion people, or
                            entrepreneurship can attend.
                            If you've graduated from high school, you can apply to be a mentor.
                            If you're in middle school, we'll have to see. Please contact us for more information.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseEleven">More questions coming soon!</a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                            More answers coming soon!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="schedule" class="col-md-6">
            <h2>Schedule</h2>
            <div id="schedule-header">
                <i class="fas fa-caret-left fa-3x" onclick="prevDay()"></i>
                <h3 id="schedule-date">Friday 3/26</h3>
                <i class="fas fa-caret-right fa-3x" onclick="nextDay()"></i>
            </div>

            <table id="schedule-table">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>6:00 AM</td>
                    <td>Halfway Break</td>
                </tr>
                <tr>
                    <td>6:05 AM</td>
                    <td>Workshops</td>
                </tr>
                <tr>
                    <td>6:10 AM</td>
                    <td>Closing Ceremony</td>
                </tr>
                <tr>
                    <td>6:15 AM</td>
                    <td>Judging</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Awards</td>
                </tr>
                <tr>
                    <td>8:30 PM</td>
                    <td>Rip we aleady did the closing ceremony</td>
                </tr>
                <tr>
                    <td>9:00 PM</td>
                    <td>Looks like there's nothing to do on Saturday</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="sponsors">
        <h2>Sponsors</h2>
        <h5>Interested in sponsoring us? Shoot us an <a href="mailto:waylandcomputersci@gmail.com">email</a>!</h5>
        <br>
        <h3>Platinum/Gold/Silver</h3>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <a href="https://deluxethinkers.wixsite.com/deluxe" target="_blank" rel="noopener noreferrer">
                    <img border="0" alt="Deluxe Thinkers" src="static/assets/Deluxe-Thinkers-Logo.png" width="100"
                         height="100">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.cybersummercamp.org" target="_blank" rel="noopener noreferrer">
                    <img border="0" alt="Cyber Summer Camp" src="static/assets/Cyber-Summer-Camp-Logo.png" width="100" height="67">
                </a>
            </div>
        </div>

        <br/><br/><br/>
        <a href="https://hackclub.com/bank/" target="_blank" rel="noopener noreferrer">
            <img border="0" alt="Powered by Hack Club Bank" src="static/assets/bank.png" width="400" height="100">
        </a>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
