{% extends "layout.html" %}

{% block styles %}
{% endblock %}
{% block content %}
<section id="titlepage" class="mainbg container-fluid">
    <div id="title">
        <h1 class="animate__animated animate__rotateInDownLeft"><strong>PR</strong><a href="/easter-egg"><img alt="O"
                    src="static/assets/loading.gif"></a><strong>JECT</strong></h1>
        <h1 class="animate__animated animate__rotateInUpRight"><strong>REBOOT</strong></h1>
    </div>
    <br>
    <h1>Reboot Learning...</h1>

    <h3 id="start-date">
        March 26 - 27, 2021
        <br /><br />
        <div class="row justify-content-center">
            <span id="countdown-text">Registration closes in:</span>
            <span id="countdown"></span>
        </div>
    </h3>
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3">
            <a class="slidee btn btn-block btn-outline-success" href="https://discord.gg/tdmqS27JRN" target="_blank"
                rel="noopener noreferrer">Join Discord</a>
        </div>
        <div class="col-sm-4 col-md-3">
            <a class="slidee btn btn-block btn-outline-success" href="/challenge">Challenge</a>
        </div>
        <div class="col-sm-4 col-md-3">
            <a class="slidee btn btn-block btn-outline-success typeform-share"
                href="https://form.typeform.com/to/TlzStQ5X?typeform-medium=embed-snippet" data-mode="drawer_right"
                target="_blank">Sign Up</a>
            <script> (function () {
                    var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement,
                        gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
                    if (!gi.call(d, id)) {
                        js = ce.call(d, "script");
                        js.id = id;
                        js.src = b + "embed.js";
                        q = gt.call(d, "script")[0];
                        q.parentNode.insertBefore(js, q)
                    }
                })()</script>
        </div>
    </div>
</section>
<section id="about" style="background: #1d221e" class="container-fluid px-0">
    <h1>About</h1>
    <h4>We are the Wayland High School Computer Science Club, and we are
        running Project Reboot, a 2021 virtual hackathon designed for high school
        students. Our goal is to show that coding is fun for everyone, regardless of
        skill level, through creating hackathons to help those in need.<br>
        For example, <a href="https://hackawayforgood.org" target="_blank" rel="noopener noreferrer">last year's
            hackathon</a> brought Wayland and many towns in the Greater Boston Area together
        by developing tools and applications to help blind users.
        This year, we want to unite even more students
        together by working to improve the quality of remote learning, but we
        need your help to make this possible.</h4>
    <div></div>
</section>
<section id="info" class="row" style="background: #101010">
    <div class="col-md-6">
        <div class="panel-group" id="accordion">
            <h2>FAQ</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                            aria-expanded="false" aria-controls="collapseExample" href="#collapseOne">
                            <i class="fas fa-plus-square"></i> <i class="fas fa-minus-square"></i> What is Project
                            Reboot?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        It's a one-day hackathon for all high school students.
                        Students will work in teams to build a prototype of an app, game, web site or device that
                        tackles
                        issues people may face with remote learning.
                        Using design thinking, students learn how to develop new ideas and design technology
                        that will improve life and productivity for the many people learning and working remotely
                        during
                        the pandemic.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            aria-expanded="false" aria-controls="collapseExample" href="#collapseTwo">
                            <i class="fas fa-plus-square"></i> <i class="fas fa-minus-square"></i> Who can
                            participate?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Any high school student in grades 9-12 who's interested in coding,
                        innovative technologies, and
                        entrepreneurship can attend.
                        If you've graduated from high school, be a mentor! Contact us if interested.
                        If you're in middle school, feel free to join in, but please contact us for more
                        information.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseThree" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-plus-square"></i> <i class="fas fa-minus-square"></i> Do I need to
                            have a team?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        You may form a team with up to four members.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFour" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-plus-square"></i> <i class="fas fa-minus-square"></i> Does this
                            hackathon
                            cost money to attend?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        No, Project Reboot is free and everything down to workshops and free swag are covered for
                        participants.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFive" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-plus-square"></i> <i class="fas fa-minus-square"></i> What should I do
                            if
                            I have another question?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Feel free to <a href="mailto:waylandcomputersci@gmail.com">contact us</a>.
                    </div>
                </div>
            </div>
            {# <div class="panel panel-default">#}
                {# <div class="panel-heading">#}
                    {# <h4 class="panel-title">#}
                        {# <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" #} {#
                            href="#collapseSix" aria-expanded="false" aria-controls="collapseExample">#}
                            {# <i class="fas fa-plus-square"></i> <i class="fas fa-minus-square"></i> More questions#}
                            {# coming#}
                            {# soon!#}
                            {# </a>#}
                        {# </h4>#}
                    {# </div>#}
                {# <div id="collapseSix" class="panel-collapse collapse">#}
                    {# <div class="panel-body">#}
                        {# More answers coming soon!#}
                        {# </div>#}
                    {# </div>#}
                {# </div>#}

        </div>
    </div>

    <div id="schedule" class="col-md-6">
        <h2>Schedule</h2>
        <div id="schedule-header">
            <i class="fas fa-caret-left fa-3x" onclick="prevDay()"></i>
            <h3 id="schedule-date">Friday 3/26</h3>
            <i class="fas fa-caret-right fa-3x" onclick="nextDay()"></i>
        </div>

        <table id="schedule-table">
            <colgroup>
                <col style="width: 25%;">
                <col style="width: 75%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Time (EDT)</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6:00 PM</td>
                    <td>Opening ceremony starts</td>
                </tr>
                <tr>
                    <td>6:15 PM</td>
                    <td>Challenge Introductions</td>
                </tr>
                <tr>
                    <td>6:45 PM</td>
                    <td>Finding a team, slack tutorial</td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>Intro speaker</td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Keynote speaker</td>
                </tr>
                <tr>
                    <td>8:30 PM</td>
                    <td>Preview the next day</td>
                </tr>
                <tr>
                    <td>9:00 PM</td>
                    <td>Hacking begins!</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="prizes" style="background: black" class="container-fluid px-0">
    <h2>Prizes</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4>Free Swag</h4>
            <ul>
                <li><a
                        href="https://repl.it/" target="_blank"
                        rel="noopener noreferrer">Repl.it </a>Hacker Plan for 3 months + sticker
                </li>
                <li>1-month free Business Tier plan on <a
                        href="https://www.echoar.xyz/" target="_blank"
                        rel="noopener noreferrer">EchoAR</a></li>
                <li>30-day <a
                        href="https://wolfram.com/" target="_blank"
                        rel="noopener noreferrer">Wolfram|One</a> access
                </li>
                <li>90 Day Access to <a
                        href="https://balsamiq.com/" target="_blank"
                        rel="noopener noreferrer">Balsamiq Cloud</a></li>
                <li><a
                        href="https://www.linode.com/" target="_blank"
                        rel="noopener noreferrer">Linode</a> Hosting Promotion
                </li>
                <li>Project Reboot Stickers</li>
                <li><a
                        href="https://www.thecoderschool.com/locations/sudbury/" target="_blank"
                        rel="noopener noreferrer">CoderSchool</a> t-shirts and drawstring bags
                </li>
                <li><a
                        href="https://www.jetbrains.com/" target="_blank"
                        rel="noopener noreferrer">JetBrains</a> IDE Student Platform Access
                </li>
                <li>Eligiblity for giveaways</li>
                <li>All <a
                        href="https://github.com/" target="_blank"
                        rel="noopener noreferrer">GitHub</a> student developer tools
                </li>
            </ul>
            <span style="font-size: 12px; max-width: 380px; display: inline-block;">
                Participants must <em>attend</em> the hackathon and at least one workshop event and <em>submit</em> a project to be eligible
            </span>
        </div>
        <div class="col-md-6">
            <h4>Winners</h4>
            <ul>
                <li><strong>1st:</strong> <em>To be announced...</em></li>
                <li><strong>2nd</strong>: 1080p Monitors</li>
                <li><strong>3rd</strong>: Wireless Headphones</li>
                <br>
                <li><strong>Best Beginner Hack:</strong> Raspberry Pi 4 Model B</li>
                <li><strong>Most Innovative Hack: </strong> Wireless Speakers</li>
                <li><strong>EchoAR Award: </strong>$50 Amazon Gift Card, 3-month free
                    EchoAR
                    Business Tier access
                </li>
            </ul>
            <span>
               All winners will also receive a Wolfram Award, and one year of 1Password premium.
            </span>
        </div>
    </div>
</section>

<section id="sponsors" style="background: #1d221e">
    <h2>Sponsors</h2>
    <h5>Interested in sponsoring us? Check out our <a
            href="https://drive.google.com/file/d/1B3gEFy6CeezzUXNZ6EGVXIt6zXhyA4zQ/view" target="_blank"
            rel="noopener noreferrer">prospectus</a> and shoot us an <a
            href="mailto:waylandcomputersci@gmail.com">email</a>!</h5>
    <br>
    <h1 style="color:lightseagreen">Platinum</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="https://www.village-bank.com" target="_blank" rel="noopener noreferrer">
                <img class="logo" border="0" alt="theVillageBank" src="static/assets/sponsors/village.png" width="483"
                    height="120">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">

    </div>
    <br>
    <h1 style="color: gold">Gold</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
            <a href="https://wolfram.com" target="_blank" rel="noopener noreferrer">
                <img id="wolfram" class="logo" border="0" alt="Wolfram" src="static/assets/sponsors/wolfram.png"
                    width="200" height="100">
            </a>
        </div>
        <div class="col-lg-3 col-md-4">
            <a href="https://www.thecoderschool.com/locations/sudbury/" target="_blank" rel="noopener noreferrer">
                <img id="coderschool" class="logo" border="0" alt="theCoderSchool Sudbury"
                    src="static/assets/sponsors/coder.png" width="200" height="100">
            </a>
        </div>
        <div class="col-lg-3 col-md-4">
            <a href="https://repl.it" target="_blank" rel="noopener noreferrer">
                <img id="replit" class="logo" border="0" alt="Repl.it" src="static/assets/sponsors/replit-light.png"
                    width="200" height="100">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
            <a href="https://www.echoar.xyz" target="_blank" rel="noopener noreferrer">
                <img id="echo" class="logo" border="0" alt="echoAR" src="static/assets/sponsors/echoAR.png"
                    width="200" height="100">
            </a>
        </div>
        <div class="col-lg-3 col-md-4">
            <a href="https://rstudio.com" target="_blank" rel="noopener noreferrer">
                <img id="rstudio" class="logo" border="0" alt="RStudio"
                    src="static/assets/sponsors/rstudio.png" width="200" height="100">
            </a>
        </div>
        <div class="col-lg-3 col-md-4">
            <a href="https://1password.com" target="_blank" rel="noopener noreferrer">
                <img id="pass1" class="logo" border="0" alt="1Password"
                    src="static/assets/sponsors/1pass.png" width="200" height="100">
            </a>
        </div>
    </div>

    <h1 style="color: silver;">Silver</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="https://www.linode.com" target="_blank" rel="noopener noreferrer">
                <img id="linode" class="logo" border="0" alt="Linode" src="static/assets/sponsors/linode-light.png"
                    width="90" height="90">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://deluxethinkers.wixsite.com/deluxe" target="_blank" rel="noopener noreferrer">
                <img class="logo" border="0" alt="Deluxe Thinkers" src="static/assets/sponsors/deluxe-thinkers.png"
                    width="90" height="90">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.cybersummercamp.org" target="_blank" rel="noopener noreferrer">
                <img class="logo" border="0" alt="Cyber Summer Camp" src="static/assets/sponsors/cybersummercamp.png"
                    width="90" height="90">
            </a>
        </div>
        <div class="col-md-2">
            <a href="http://www.u3realty.com" target="_blank" rel="noopener noreferrer">
                <img class="logo" border="0" alt="U3Realty" src="static/assets/sponsors/realty.png" width="90"
                    height="90">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://balsamiq.com" target="_blank" rel="noopener noreferrer">
                <img id="balsamiq" class="logo" border="0" alt="Balsamiq" src="static/assets/sponsors/balsamiq.png" width="90"
                    height="90">
            </a>
        </div>
    </div>

    <br /><br />
    <a href="https://hackclub.com/bank/" target="_blank" rel="noopener noreferrer">
        <img id="bank" class="logo" border="0" alt="Powered by Hack Club Bank" src="static/assets/sponsors/bank.png"
            width="300" height="75">
    </a>
    <div id="dotbg"></div>
</section>

<section id="volunteers" class="container text-center my-3">
    <h1>Volunteers</h1>
    <br>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img src="../../static/assets/people/emma.jpeg" alt="Emma Kerwin" width=200 height=200 />
                            <figcaption>
                                <h5>Emma Kerwin</h5>
                                <p>Mentor</p>
                                <p class="figure-caption">Business Intelligence Analyst <br>Flow Traders</p>
                                <a href="https://www.linkedin.com/in/emma-kerwin-326a30b8/"><i
                                        class="fab fa-linkedin fa-lg" style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img src="../../static/assets/people/andy.jpeg" alt="Andy Wang" width=200 height=200 />
                            <figcaption>
                                <h5>Andy Wang</h5>
                                <p>Mentor</p>
                                <p class="figure-caption">CS & Stats Major<br>Rice</p>
                                <a href="https://www.linkedin.com/in/andy-wang-219479192/"><i
                                        class="fab fa-linkedin fa-lg" style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img src="../../static/assets/people/ben.jpeg" alt="Ben Tengelsen" width=200 height=200 />
                            <figcaption>
                                <h5>Benjamin Tengelsen</h5>
                                <p>Workshop - Data Science</p>
                                <p class="figure-caption">Data Science Director <br> IntelyCare</p>
                                <a href="https://www.linkedin.com/in/btengels/"><i class="fab fa-linkedin fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/romney.jpeg" alt="Romney Evans"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Romney Evans</h5>
                                <p>Judge</p>
                                <p class="figure-caption">Co-founder & CMO <br> True Fit Corporation</p>
                                <a href="https://www.linkedin.com/in/romneyevans/"><i class="fab fa-linkedin fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img src="../../static/assets/people/Alon_Grinshpoon_3.png" alt="Alon Grinshpoon" width=200
                                height=200 />
                            <figcaption>
                                <h5>Alon Grinshpoon</h5>
                                <p>Judge - EchoAR Challenge</p>
                                <p class="figure-caption">Founder & CEO <br> EchoAR</p>
                                <a href="https://www.linkedin.com/in/alongrinshpoon/"><i class="fab fa-linkedin fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>

                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/brady.jpeg" alt="Brady Dowling"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Brady Dowling</h5>
                                <p>Workshop - JavaScript</p>
                                <p class="figure-caption">Software Engineer <br> Chewy</p>
                                <a href="https://www.linkedin.com/in/bradydowling/"><i class="fab fa-linkedin fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/jackie.png" alt="Jackie Herrera"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Jackie Herrera</h5>
                                <p>Speaker</p>
                                <p class="figure-caption">Social Worker<br>Family Access of Newton</p>
                                <a href="https://www.parentchildplus.org/location/newton-needham-wellesley/"><i class="fas fa-link fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/nags.jpeg" alt="Nagarjuna Venna"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Nagarjuna Venna</h5>
                                <p>Judge</p>
                                <p class="figure-caption">Founder <br> BitSight</p>
                                <a href="https://www.linkedin.com/in/vnagarjuna/"><i class="fab fa-linkedin fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/hopps.png" alt="Michael Hopps"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Michael Hopps</h5>
                                <p>Judge</p>
                                <p class="figure-caption">Computer Science Teacher <br> Wayland High School</p>
                                <a href="mailto: Michael_Hopps@waylandps.org"><i class="fa fa-envelope fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/koren.jpeg" alt="Koren Grinshpoon"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Koren Grinshpoon</h5>
                                <p>Workshop - Intro to AR</p>
                                <p class="figure-caption">COO <br> EchoAR</p>
                                <a href="https://www.linkedin.com/in/korengrinshpoon/"><i class="fab fa-linkedin fa-lg"
                                        style="color: white" aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="../../static/assets/people/mat.jpg" alt="Matthew Stanciu"
                                width=200 height=200 />
                            <figcaption>
                                <h5>Matthew Stanciu</h5>
                                <p>Speaker</p>
                                <p class="figure-caption">Clubs Team<br>Hack Club</p>
                                <a href="https://github.com/MatthewStanciu" target="_blank"><i class="fab fa-github fa-lg" style="color: white"
                                 aria-hidden="true"></i></a>
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
    </div>
    <br>
</section>

<section id="team" style="background: #1d221e" class="container-fluid px-0">
    <h1>Team</h1>
    <br>
    <div class="row justify-content-center">
        <figure class="col-lg-3 col-md-4">
            <img src="../../static/assets/people/eric.jpg" alt="Eric Xie" width=200 height=200 />
            <figcaption>
                <h5>Eric Xie</h5>
                <p>Director</p>
                <p class="figure-caption">Software, Marketing</p>
                <a href="mailto: ericxie6@gmail.com"><i class="fa fa-envelope fa-lg" style="color: white"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/ericxie_zz/" target="_blank"><i class="fab fa-instagram fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/ericx1e" target="_blank"><i class="fab fa-github fa-lg" style="color: white"
                        aria-hidden="true"></i></a>
                <a href="https://open.spotify.com/user/ericxxie?si=sCJdKbxVQVWEho6fVYAPng" target="_blank"><i
                        class="fab fa-spotify fa-lg" style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-3 col-md-4">
            <img src="../../static/assets/people/Andrew.jpg" alt="Andrew Boyer" width=200 height=200 />
            <figcaption>
                <h5>Andrew Boyer</h5>
                <p>Executive Director</p>
                <p class="figure-caption">All Teams</p>
                <a href="https://www.linkedin.com/in/andrew-boyer-1771791b0" target="_blank"><i
                        class="fab fa-linkedin fa-lg" style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/asboyer2" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
                <a href="https://open.spotify.com/user/uuzdbyuye92sxqjltw955qm9n?si=rPFH2WO_TQOwm8TH_PPzVQ"
                    target="_blank"><i class="fab fa-spotify fa-lg" style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-3 col-md-4">
            <img src="../../static/assets/people/kevin.png" alt="Kevin Zhao" width=200 height=200 />
            <figcaption>
                <h5>Kevin Zhao</h5>
                <p>Director</p>
                <p class="figure-caption">Software</p>
                <a href="mailto: kevin_zhao@student.waylandps.org">
                    <i class="fa fa-envelope fa-lg" style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/Kevin-Zhao-Github" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
    </div>
    <br>
    <hr width=200px style="
      height: 1px;
      border-color:lightslategrey;
      background-color: limegreen;
    ">

    <br>
    <div class="row justify-content-center">
        <figure class="col-lg-2 col-md-4">
            <img src="../../static/assets/people/Jayanth.jpg" alt="Jayanth Mani" width=150 height=150 />
            <h5>Jayanth Mani</h5>
            <p class="figure-caption">Treasury</p>
            <a href="mailto: jayanth.mani14@gmail.com"><i class="fa fa-envelope fa-lg" style="color: white"
                    aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/jayanth-mani-9777b8206/" target="_blank"><i
                    class="fab fa-linkedin fa-lg" style="color: white" aria-hidden="true"></i></a>
            <a href="https://github.com/Jayanth-Mani" target="_blank"><i class="fab fa-github fa-lg"
                    style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-2 col-md-4">
            <img class="cropped" src="../../static/assets/people/Sam.jpg" alt="Sam Connor" width=150 height=150 />
            <figcaption>
                <h5>Sam Conner</h5>
                <p class="figure-caption">Treasury, Community</p>
                <a href="https://open.spotify.com/user/3db5ixjm0n68yrf71shqh10uk" target="_blank"><i
                        class="fab fa-spotify fa-lg" style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/sammmmmc" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>

            </figcaption>
        </figure>
        <figure class="col-lg-2 col-md-4">
            <img src="../../static/assets/people/Misha.jpg" alt="Misha Boyko" width=150 height=150 />
            <figcaption>
                <h5>Misha Boyko</h5>
                <p class="figure-caption">Marketing</p>
                <a href="mailto: mboykombo@gmail.com">
                    <i class="fa fa-envelope fa-lg" style="color: white" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/misha.boyko14/" target="_blank"><i class="fab fa-instagram fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/Misha-Boyko" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-2 col-md-4">
            <img src="../../static/assets/people/Rehan.jpg" alt="Rehan Samaratunga" width=150 height=150 />
            <figcaption>
                <h5>Rehan Samaratunga</h5>
                <p class="figure-caption">Software</p>
                <a href="mailto: rehandsam@gmail.com"><i class="fa fa-envelope fa-lg" style="color: white"
                        aria-hidden="true"></i></a>
                <a href="https://github.com/Rehan164" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
    </div>
    <div class="row justify-content-center">
        <figure class="col-lg-2 col-md-3">
            <img src="../../static/assets/people/Ayaan.jpg" alt="Ayaan Rashid" width=150 height=150 />
            <figcaption>
                <h5>Ayaan Rashid</h5>
                <p class="figure-caption">Treasury</p>
                <a href="mailto: kashif.rashid.jr@gmail.com">
                    <i class="fa fa-envelope fa-lg" style="color: white" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/cptcranjuice/" target="_blank"><i class="fab fa-instagram fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/CptCranJuice" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-2 col-md-3">
            <img class="cropped" src="../../static/assets/people/carson.jpg" alt="Carson Boyer" width=150 height=150 />
            <figcaption>
                <h5>Carson Boyer</h5>
                <p class="figure-caption">Marketing</p>
                <a href="https://www.instagram.com/carson.boyer/" target="_blank"><i class="fab fa-instagram fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/TheCarsonBoyer" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-2 col-md-3">
            <img class="cropped" src="../../static/assets/people/Kailas.jpg" alt="Kailas Srinivasan" width=150
                height=150 />
            <figcaption>
                <h5 class="figure-caption-title">Kailas Srinivasan</h5>
                <p class="figure-caption">Marketing, Community</p>
                <a href="mailto: kailassrinivasan@gmail.com"><i class="fa fa-envelope fa-lg" style="color: white"
                        aria-hidden="true"></i></a>
                <a href="https://github.com/kailas23" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <figure class="col-lg-2 col-md-3">
            <img class="cropped" src="../../static/assets/people/Brendan.jpg" alt="Brendan Shen" width=150 height=150 />
            <figcaption>
                <h5>Brendan Shen</h5>
                <p class="figure-caption">Software</p>
                <a href="mailto: bshen.324@gmail.com"><i class="fa fa-envelope fa-lg" style="color: white"
                        aria-hidden="true"></i></a>
                <a href="https://github.com/Shen0000" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure>
        <!-- <figure class="col-lg-2 col-md-3">
            <img class="cropped" src="../../static/assets/people/Lucas.jpg" alt="Lucas Thompson" width=150 height=150 />
            <figcaption>
                <h5 class="figure-caption-title">Lucas Thompson</h5>
                <p class="figure-caption">Graphic Design</p>
                <a href="mailto: lucas_thompson@student.waylandps.org"><i class="fa fa-envelope fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
                <a href="https://github.com/InternalTurtle" target="_blank"><i class="fab fa-github fa-lg"
                        style="color: white" aria-hidden="true"></i></a>
            </figcaption>
        </figure> -->
    </div>
</section>

<section id="social-media" style="padding: 5vh 0vw 5vh 0vw; background: #101010">
    <div class="container-fluid">
        <h4>Follow our social media!</h4>
        <div class="row justify-content-center">
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://www.youtube.com/channel/UCwZ5Ip1wCb8yC9sfNnCtsZw" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube fa-3x"></i>
                </a>
            </div>
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://www.instagram.com/waylandcomputer/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram fa-3x"></i>
                </a>
            </div>
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://www.facebook.com/groups/236451944678953" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook fa-3x"></i>
                </a>
            </div>
            <div class="col-md-1 col-sm-2 d-flex justify-content-center">
                <a href="https://github.com/Wayland-CS-Club" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>

</section>
<section id="about" style="padding: 1vh 1vw 1vh 1vw; background: #060606">
    <p id="copyright" style="color: #797D7F">
        Copyright © 2021 RebootHacks, a 501(c)(3) non-profit organization,
        fiscally sponsored by Hack Club Bank
        <br>
    </p>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.rawgit.com/vuejs/vue/v1.0.24/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}