{% extends "layout.html" %}

{% block title %}
<title>Project Reboot Easter Egg</title>
{% endblock %}


{% block styles %}
{% endblock %}

{% block content %}
<section id="projects" class="mainbg container-fluid">
    <h1>Have fun kevan</h1>
{#    <br>#}
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
            <h2>Summize</h2>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
        <div class="col-lg-3 col-md-4">
            <h2>RethinkIQ</h2>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
        <div class="col-lg-3 col-md-4">
            <h2>Active Learn</h2>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
    </div>
{#    <hr width=200px style="#}
{#      height: 1px;#}
{#      border-color:lightslategrey;#}
{#      background-color: limegreen;#}
{#    ">#}
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3">
            <h3>EduCaptcha</h3>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
        <div class="col-lg-2 col-md-3">
            <h3>FoOrWiLe</h3>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
        <div class="col-lg-2 col-md-3">
            <h3>WHS Assassin</h3>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
        <div class="col-lg-2 col-md-3">
            <h3>Library Aid</h3>
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            <p>Epic <a href="easter-egg.html">link</a></p>
        </div>
    </div>
</section>

{% endblock %}