{% extends "layout.html" %}

{% block title %}
<title>Project Reboot Winners</title>
{% endblock %}


{% block styles %}
{% endblock %}

{% block content %}
<section id="projects" class="mainbg container-fluid">
    <h1>Winners</h1>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-8">
            <h2>Summize</h2>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=3938" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/summize.png" alt="Presentation"/>
            </a>
            <br>
            <a href="https://github.com/blanknerS/RebootHackathonSummize" target="_blank" rel="noopener noreferrer">Code</a>
        </div>
        <div class="col-md-4 col-sm-8">
            <h2>RethinkIQ</h2>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=9108" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/rethinkIQ.png" alt="Presentation"/>
            </a>
            <br>
            <a href="https://github.com/Blythe-hub/Rethink" target="_blank" rel="noopener noreferrer">Code</a>
        </div>
        <div class="col-md-4 col-sm-8">
            <h2>Active Learn</h2>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=1402" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/activelearn.png" alt="Presentation"/>
            </a>
            <br>
            <span><a href="https://activelearn.netlify.app" target="_blank" rel="noopener noreferrer">Website</a> &
            <a href="https://github.com/braydentam/ActiveLearn" target="_blank" rel="noopener noreferrer">Code</a></span>
        </div>
    </div>
    <div class="row justify-content-center custom-flex">
        <div class="col-md-3 col-sm-6 flex-1 my-auto">
            <h3>EduCaptcha</h3>
        </div>
        <div class="col-md-3 col-sm-6 flex-5">
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=5696" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/educapcha.png" alt="Presentation"/>
            </a>
            <br>
            <a href="https://github.com/KAJMHackathonTeam/EduCaptcha" target="_blank" rel="noopener noreferrer">Code</a>
        </div>
        <div class="col-md-3 col-sm-6 flex-2 my-auto">
            <h3>FoOrWiLe</h3>
        </div>
        <div class="col-md-3 col-sm-6 flex-6">
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=8820" target="_blank" rel="noopener noreferrer" role="button">
            <img src="../../static/assets/foorwile.png" alt="Presentation"/>
            </a>
            <br>
            <span><a href="http://foorwile.me/organization-and-focus-in-remote-learning/" target="_blank" rel="noopener noreferrer">Website</a> &
            <a href="https://github.com/nifelover/organization-and-focus-in-remote-learning" target="_blank" rel="noopener noreferrer">Code</a></span>
        </div>
        <div class="col-md-3 col-sm-6 flex-3 my-auto">
            <h3>WHS Assassin</h3>
        </div>
        <div class="col-md-3 col-sm-6 flex-7">
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=4446" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/whsassassin.png" alt="Presentation"/>
            </a>
            <br>
            <span><a href="https://whsassassin.com" target="_blank" rel="noopener noreferrer">Website</a> &
            <a href="https://github.com/minglethepringle/whsassassin" target="_blank" rel="noopener noreferrer">Code</a></span>
        </div>
        <div class="col-md-3 col-sm-6 flex-4 my-auto">
            <h3>Library Aid</h3>
        </div>
        <div class="col-md-3 col-sm-6 flex-8">
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=8552" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/libraryaid.png" alt="Presentation"/>
            </a>
            <br>
            <a href="https://github.com/minglethepringle/whsassassin" target="_blank" rel="noopener noreferrer">Code</a>
        </div>
    </div>
</section>

{% endblock %}