{% extends "layout.html" %}

{% block title %}
<title>Project Reboot Winners</title>
{% endblock %}


{% block styles %}
{% endblock %}

{% block content %}
<section id="projects" class="mainbg container-fluid">
    <h1>Winners</h1>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
            <h2>Summize</h2>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=3938" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <p>Epic <a href="https://activelearn.netlify.app" target="_blank" rel="noopener noreferrer">link</a></p>
        </div>
        <div class="col-lg-3 col-md-4">
            <h2>RethinkIQ</h2>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=9108" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <p>Epic <a href="https://activelearn.netlify.app" target="_blank" rel="noopener noreferrer">link</a></p>
        </div>
        <div class="col-lg-3 col-md-4">
            <h2>Active Learn</h2>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=1402" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <p>Epic <a href="https://activelearn.netlify.app" target="_blank" rel="noopener noreferrer">link</a></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3">
            <h3>EduCaptcha</h3>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=5696" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <a href="https://github.com/KAJMHackathonTeam/EduCaptcha" target="_blank" rel="noopener noreferrer">Code</a>
        </div>
        <div class="col-lg-2 col-md-3">
            <h3>FoOrWiLe</h3>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=8820" target="_blank" rel="noopener noreferrer" role="button">
            <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <p>Epic <a href="https://activelearn.netlify.app" target="_blank" rel="noopener noreferrer">link</a></p>
        </div>
        <div class="col-lg-2 col-md-3">
            <h3>WHS Assassin</h3>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=4446" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <a href="https://whsassassin.com" target="_blank" rel="noopener noreferrer">Website</a>
            <a href="https://github.com/minglethepringle/whsassassin" target="_blank" rel="noopener noreferrer">Code</a>
        </div>
        <div class="col-lg-2 col-md-3">
            <h3>Library Aid</h3>
            <a class="btn" href="https://youtu.be/28rGs5B5iTg?t=8552" target="_blank" rel="noopener noreferrer" role="button">
                <img src="../../static/assets/cartoon-presentation.png" alt="Presentation"/>
            </a>
            <p>Epic <a href="https://activelearn.netlify.app" target="_blank" rel="noopener noreferrer">link</a></p>
        </div>
    </div>
</section>

{% endblock %}